.navbar {
  margin-bottom: 0px; }

body {
  display: block;
  margin: 0; }

html body {
  height: 100%;
}

#categoryImage {
  height: 100%;
  background-color: red;
}

#category {
  height: 25%;
  background-color: blue;
}
/*html body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#product {
  padding: 30px;
  font-family: 'Arial'; }
  #product .photodisplay {
    display: inline-block; }
  #product .reviewtitle {
    font-size: 14px; }
  #product .reviewtxt {
    font-size: 12px; }
  #product .imgthumb {
    margin-left: 10px;
    margin-bottom: 6px; }
  #product #lastimg {
    margin-bottom: 0px; }
  #product #qtyselector {
    width: 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fffcbf; }
  #product #addtocartbtn {
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border-color: none;
    border: none;
    background-color: #87efff; }
  #product .fa {
    color: #ffe900; }

form#registration {
  padding: 30px;
  font-family: 'Arial';
  align-items: center; }

#searchBar {
  width: 85%;
  border-color: none;
  border-style: none;
  border-radius: 10px;
  margin-right: 15px;
  padding: 3px; }

.productImage {
  max-width: 100%; }

.modal-overlay-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65); }

.modal-content-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow: auto;
  text-align: center;
  padding: 4px;
  cursor: pointer; }

.modal-content-div:after {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: ''; }

.modal-dialog-div {
  position: relative;
  outline: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 520px;
  cursor: default;
  border-radius: 4px; }
