@import url("https://fonts.googleapis.com/css?family=Roboto");
.navbar {
  margin-bottom: 0px; }

html body {
  background-color: white;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html, body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%; }

body {
  display: block;
  margin: 0; }

div .white {
  background-color: #FFFFFF; }

#mainlogo {
  height: 100vh;
  width: auto; }

#maindiv {
  margin-top: 100px;
  padding-bottom: 150px; }

#splashmain {
  margin-top: 100px;
  padding-bottom: 150px; }

#logoimg {
  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 12%; }

#product {
  padding: 30px; }
  #product .photodisplay {
    display: inline-block; }
  #product .reviewtitle {
    font-size: 14px; }
  #product .reviewtxt {
    font-size: 12px; }
  #product .imgthumb {
    margin-left: 10px;
    margin-bottom: 6px; }
  #product #lastimg {
    margin-bottom: 0px; }
  #product #qtyselector {
    width: 60px;
    padding: 5px; }
  #product #addtocartbtn {
    padding: 5px;
    margin-left: 5px; }
  #product .fa {
    color: #ffe900; }

.img-thumb {
  float: left;
  max-width: 72px;
  margin-right: 10px; }

.img-main {
  max-width: 100%;
  margin-bottom: 10%; }

form#registration {
  padding: 30px;
  align-content: center; }

#search {
  width: 250px;
  float: left;
  padding: 7px;
  margin-right: 15px; }

#categories {
  font-family: 'Roboto', sans-serif; }
  #categories .productImage {
    max-width: 100%; }

.categoryImage {
  max-width: 33%; }

.qty {
  width: 60px;
  float: left; }

.modal-overlay-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65); }

.modal-content-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow: auto;
  text-align: center;
  padding: 4px;
  cursor: pointer; }

.modal-content-div:after {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: ''; }

.modal-dialog-div {
  position: relative;
  outline: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 520px;
  cursor: default;
  border-radius: 4px; }

.form-signin {
  max-width: 400px;
  display: block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius: 2px; }

.main {
  padding: 38px; }

.social-box {
  margin: 0 auto;
  padding: 38px;
  border-bottom: 1px #ccc solid; }

.social-box a {
  font-weight: bold;
  font-size: 18px;
  padding: 8px; }

.social-box a i {
  font-weight: bold;
  font-size: 20px; }

.heading-desc {
  font-size: 20px;
  font-weight: bold;
  padding: 38px 38px 0px 38px; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px; }

.login-footer {
  background: #f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding: 20px; }

.login-footer .left-section a {
  font-weight: bold;
  color: #8a8a8a;
  line-height: 19px; }

.mg-btm {
  margin-bottom: 20px; }
