//SASS Variables
$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$xlarge-breakpoint: 1200px;

//func
@media (min-width: 0px) {
  @for $i from 1 through 12 {
    .col-xs-#{$i}{
      width: (100% / 12) * $i;
      float: left;
      padding: 0px 10px 0px 10px;
    }
  }
  .container {
    max-width: auto;
    width: 100%;
  }
}
@media (min-width: $small-breakpoint){
  @for $i from 1 through 12 {
    .col-sm-#{$i}{
      width: (100% / 12) * $i;
      float: left;
      padding: 0px 10px 0px 10px;
    }
  }
  .container {
    max-width: 750px;
    width: 100%;
  }
}
@media (min-width: $medium-breakpoint){
  @for $i from 1 through 12 {
    .col-md-#{$i}{
      width: (100% / 12) * $i;
      float: left;
      padding: 0px 10px 0px 10px;
    }
  }
  .container {
    max-width: 970px;
    width: 100%;
  }
}
@media (min-width: $large-breakpoint){
  @for $i from 1 through 12 {
    .col-lg-#{$i}{
      width: (100% / 12) * $i;
      float: left;
      padding: 0px 10px 0px 10px;
    }
  }
  .container {
    max-width: 1170px;
    width: 100%;
  }
}

.navbar {
  background-color: blue;
  width: 100%;
  height: 80px;
}

body {
  display: block;
  margin: 0;
}

#searchBar {
  width: 100%;
}
